*{
  margin: 0;
}
header {
  position: absolute;
  width: 1441px;
  height: 150px;
  background: #000000;
}
.logo {
  position: absolute;
  width: 139px;
  height: 118px;
  left: 50px;
  top: 22px;
}
nav {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  align-items: flex-end;
  color: white;
}
.Haarlem {
  position: absolute;
  left: 55%;
  right: 38%;
  top: 20%;
  bottom: 52%;
}
.Nl {
  position: absolute;
  left: 65%;
  right: 24%;
  top: 20%;
  bottom: 52%;
}
.Student {
  position: absolute;
  left: 74%;
  right: 15%;
  top: 20%;
  bottom: 51%;
}
.abus {
  position: absolute;
  left: 85%;
  right: 4%;
  top: 20%;
  bottom: 51%;
}
.MainImage {
  position: absolute;
  width: 1441px;
  height: 837px;
  left: 8px;
  top: 158px;
  opacity: 0.75;
}

.Red {
  position: absolute;
  width: 657px;
  height: 507px;
  left: 391px;
  top: 305px;
  background: rgba(166, 14, 20, 0.5);
}
.Contact {
  position: absolute;
  width: 278px;
  height: 62px;
  left: 581px;
  top: 250px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 36px;
  text-align: center;
  letter-spacing: 0.1px;
  text-transform: uppercase;
  color: #ffffff;
}

form {
  position: absolute;
  width: 657px;
  height: 507px;
  left: 391px;
  top: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cookie-message {
  z-index: 9999;
}
a {
  text-decoration: none;
}

a:hover {
  color: red;
}

a:active {
  background-color: yellow;
}
.cookie-message {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.accept-cookie {
  background-color: #ff4500;
  color: #fff;
  border: none;
  padding: 5px 15px;
  cursor: pointer;
}
