*{
  margin: 0;
}
header {
  position: absolute;
  width: 1441px;
  height: 200px;
  background: #000000;
}
.logo {
  position: absolute;
  width: 139px;
  height: 118px;
  left: 50px;
  top: 32px;
}
nav {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  align-items: flex-end;
  color: white;
}
.Haarlem {
  position: absolute;
  left: 55%;
  right: 38%;
  top: 20%;
  bottom: 52%;
}
.Nl {
  position: absolute;
  left: 65%;
  right: 24%;
  top: 20%;
  bottom: 52%;
}
.Student {
  position: absolute;
  left: 74%;
  right: 15%;
  top: 20%;
  bottom: 51%;
}
.abus {
  position: absolute;
  left: 85%;
  right: 4%;
  top: 20%;
  bottom: 51%;
}
.MainPic {
  position: absolute;
  width: 1049px;
  height: 540px;
  left: 195px;
  top: 269px;
  border-radius: 86px;
}
.Intro {
  position: absolute;
  width: 1070px;
  height: 280px;
  left: 185px;
  top: 845px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  display: flex;
  align-items: center;
  color: #000000;
}
.Red1 {
  position: absolute;
  width: 1440px;
  height: 641px;
  left: 0px;
  top: 1161px;
  background: #a60e14;
}
.para1 {
  position: absolute;
  width: 535px;
  height: 85px;
  left: 185px;
  top: 1188px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  display: flex;
  align-items: center;
  color: #fffbfb;
}
.para1text {
  position: absolute;
  width: 1070px;
  height: 309px;
  left: 185px;
  top: 1304px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  display: flex;
  align-items: center;
  color: #fff8f8;
}
.StayOkay {
  position: absolute;
  width: 838px;
  height: 652px;
  left: 277px;
  top: 1644px;
  border-radius: 127px;
}
.text2 {
  position: absolute;
  width: 1070px;
  height: 333px;
  left: 185px;
  top: 2339px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  display: flex;
  align-items: center;
  color: #000000;
}
.Red2 {
  position: absolute;
  width: 1188px;
  height: 516.45px;
  left: 126px;
  top: 2703px;
  background: #a60e14;
  border-radius: 20px;
}
.Mlocal1 {
  position: absolute;
  width: 306.75px;
  height: 409px;
  left: 185px;
  top: 2756px;
  border-radius: 20px;
}
.Mlocal2 {
  position: absolute;
  width: 361px;
  height: 409px;
  left: 539px;
  top: 2756px;
  border-radius: 20px;
}
.Mlocal3 {
  position: absolute;
  width: 306.75px;
  height: 409px;
  left: 948px;
  top: 2756px;
  border-radius: 20px;
}
.para2 {
  position: absolute;
  width: 750px;
  height: 82px;
  left: 185px;
  top: 3268px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  display: flex;
  align-items: center;
  color: #000000;
}
.TextL {
  position: absolute;
  width: 1070px;
  height: 1008px;
  left: 185px;
  top: 3381px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  display: flex;
  align-items: center;
  color: #000000;
}
.Red3 {
  position: absolute;
  width: 1070px;
  height: 621px;
  left: 185px;
  top: 4382px;
  background: #a60e14;
  border-radius: 30px;
}
.Station {
  position: absolute;
  width: 895.94px;
  height: 504px;
  left: 272px;
  top: 4415px;
  border-radius: 30px;
}
.Imgtxt {
  position: absolute;
  width: 383px;
  height: 33px;
  left: 511px;
  top: 4900px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 200;
  font-size: 40px;
  line-height: 50px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

footer {
  position: absolute;
  width: 1440px;
  height: 614px;
  left: 0px;
  top: 5043px;
  background-color: #000000;
  font-family: "Outfit";
  font-style: normal;
  color: #ffffff;
  text-align: center;
}
.Request {
  position: absolute;
  height: 60px;
  left: 30.07%;
  right: 30.09%;
  top: calc(50% - 60px / 2 - 172.51px);
  font-weight: 700;
  font-size: 47.6429px;
  line-height: 60px;
}
.quote {
  position: absolute;
  height: 34px;
  left: 39.03%;
  right: 40.65%;
  top: calc(50% - 34px / 2 - 232.2px);
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  opacity: 0.6;
}
.Lastquote {
  position: absolute;
  height: 51px;
  left: 30.76%;
  right: 30.81%;
  top: calc(50% - 51px / 2 - 102.68px);
  font-size: 13px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 2.668px;
  text-transform: uppercase;
  mix-blend-mode: normal;
  opacity: 0.8;
}
button.Contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 14.007px 16.008px;
  gap: 40.02px;

  position: absolute;
  width: 101.02px;
  height: 42.01px;
  left: 670px;
  top: 302px;

  background: #ffffff;
  border-radius: 4px;
}
.CopyRight {
  position: absolute;
  height: 17px;
  left: 42.92%;
  right: 42.71%;
  top: calc(50% - 17px / 2 + 85.5px);
  font-size: 13.34px;
  line-height: 17px;
  text-align: center;
  mix-blend-mode: normal;
  opacity: 0.8;
}
.Line {
  position: absolute;
  left: 12.17%;
  right: 16.93%;
  top: 72.14%;
  bottom: 27.71%;
  background: #ffffff;
  opacity: 0.2;
  border: 0.952857px solid #ffffff;
}
.logoFooter {
  position: absolute;
  width: 130px;
  height: 110px;
  left: 655px;
  top: 458px;
}
.rep1 {
  position: absolute;
  width: 1070px;
  height: 168px;
  left: 185px;
  top: 3381px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  display: flex;
  align-items: center;
  color: #000000;
}
.rep2 {
  position: absolute;
  width: 1070px;
  height: 116px;
  left: 185px;
  top: 3526px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  display: flex;
  align-items: center;
  color: #000000;
}
.rep3 {
  position: absolute;
  width: 1070px;
  height: 312px;
  left: 185px;
  top: 3659px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  display: flex;
  align-items: center;
  color: #000000;
}
.rep4 {
  position: absolute;
  width: 1070px;
  height: 315px;
  left: 185px;
  top: 3987px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  display: flex;
  align-items: center;
  color: #000000;
}
.cookie-message {
  z-index: 9999;
}
a {
  text-decoration: none; 
}

a:hover {
  color: red; 
}

a:active {
  background-color: yellow; 
}
.cookie-message {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.accept-cookie {
  background-color: #ff4500;
  color: #fff;
  border: none;
  padding: 5px 15px;
  cursor: pointer;
}