section{
    display:flex;
    border: solid red 5px;
    width: 1000px;
    height: 800px;
    justify-content: center;
    align-items: center;
}
.box{
    width: 200px;
    height: 200px;
    background-color: lightblue;
    margin: 20px;
    padding: 20px;
    font-size: 50px;
    text-align: center;

}