body{
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}
section{
    display:flex;
    border: solid red 5px;
    width: 1000px;
    height: 800px;
    justify-content: center;
    align-items: center;
}
* {
    padding: 0px;
    margin: 0px;
}

.box{
    padding: 20px;
    font-size: 50px;
    text-align: center;

}
header{
    min-height: 60px; 
    background-color: lightcoral;

}
footer{
    min-height: 60px;
    background-color: lightgreen;
}
.boxleft{
    padding: 20px;
    font-size: 50px;
    text-align: center;
    width: 25%;

}
.boxright{
    padding: 20px;
    font-size: 50px;
    text-align: center;
    width: 25%;

}
.boxcenter{
    padding: 20px;
    font-size: 50px;
    text-align: center;
    width: 50%;

}