*{
  margin: 0;
}
header {
  position: absolute;
  width: 1441px;
  height: 200px;
  background: #000000;
}
.logo {
  position: absolute;
  width: 139px;
  height: 118px;
  left: 50px;
  top: 32px;
}
nav {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  align-items: flex-end;
  color: white;
}
.Haarlem {
  position: absolute;
  left: 55%;
  right: 38%;
  top: 20%;
  bottom: 52%;
}
.Nl {
  position: absolute;
  left: 65%;
  right: 24%;
  top: 20%;
  bottom: 52%;
}
.Student {
  position: absolute;
  left: 74%;
  right: 15%;
  top: 20%;
  bottom: 51%;
}
.abus {
  position: absolute;
  left: 85%;
  right: 4%;
  top: 20%;
  bottom: 51%;
}
.Red1 {
  position: absolute;
  width: 1441px;
  height: 503px;
  left: 8px;
  top: 187px;
  background: #a60e14;
}
.pont {
  position: absolute;
  width: 1171px;
  height: 688px;
  left: 134px;
  top: 296px;
  border-radius: 114.176px;
}
.intro {
  position: absolute;
  width: 1074px;
  height: 209px;
  left: 183px;
  top: 1034px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  display: flex;
  align-items: center;
  color: #000000;
}
.para1 {
  position: absolute;
  width: 486px;
  height: 83px;
  left: 183px;
  top: 1304px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  display: flex;
  align-items: center;
  color: #000000;
}
.Duwo {
  position: absolute;
  width: 901px;
  height: 413px;
  left: 269px;
  top: 1465px;
}
.imagetext {
  position: absolute;
  width: 346px;
  height: 34px;
  left: 269px;
  top: 1878px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  line-height: 50px;
  display: flex;
  align-items: center;
  color: #000000;
}
.Room {
  position: absolute;
  width: 1074px;
  height: 459px;
  left: 183px;
  top: 1956px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  display: flex;
  align-items: center;
  color: #000000;
}
.para2 {
  position: absolute;
  width: 612px;
  height: 90px;
  left: 183px;
  top: 2476px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  display: flex;
  align-items: center;
  color: #000000;
}
.Derb {
  position: absolute;
  width: 901px;
  height: 424px;
  left: 269px;
  top: 2627px;
}
.Dutch {
  position: absolute;
  width: 1074px;
  height: 605px;
  left: 183px;
  top: 3109px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  display: flex;
  align-items: center;
  color: #000000;
}
.para3 {
  position: absolute;
  width: 666px;
  height: 74px;
  left: 183px;
  top: 3780px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  display: flex;
  align-items: center;
  color: #000000;
}
.FB {
  position: absolute;
  width: 1074px;
  height: 798px;
  left: 183px;
  top: 4382px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  display: flex;
  align-items: center;
  color: #000000;
}

footer {
  position: absolute;
  width: 1440px;
  height: 614px;
  left: 0px;
  top: 5241px;
  background-color: #000000;
  font-family: "Outfit";
  font-style: normal;
  color: #ffffff;
  text-align: center;
}
.Request {
  position: absolute;
  height: 60px;
  left: 30.07%;
  right: 30.09%;
  top: calc(50% - 60px / 2 - 172.51px);
  font-weight: 700;
  font-size: 47.6429px;
  line-height: 60px;
}
.quote {
  position: absolute;
  height: 34px;
  left: 39.03%;
  right: 40.65%;
  top: calc(50% - 34px / 2 - 232.2px);
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  opacity: 0.6;
}
.Lastquote {
  position: absolute;
  height: 51px;
  left: 30.76%;
  right: 30.81%;
  top: calc(50% - 51px / 2 - 102.68px);
  font-size: 13px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 2.668px;
  text-transform: uppercase;
  mix-blend-mode: normal;
  opacity: 0.8;
}
button.Contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 14.007px 16.008px;
  gap: 40.02px;

  position: absolute;
  width: 101.02px;
  height: 42.01px;
  left: 670px;
  top: 302px;

  background: #ffffff;
  border-radius: 4px;
}
.CopyRight {
  position: absolute;
  height: 17px;
  left: 42.92%;
  right: 42.71%;
  top: calc(50% - 17px / 2 + 85.5px);
  font-size: 13.34px;
  line-height: 17px;
  text-align: center;
  mix-blend-mode: normal;
  opacity: 0.8;
}
.Line {
  position: absolute;
  left: 12.17%;
  right: 16.93%;
  top: 72.14%;
  bottom: 27.71%;
  background: #ffffff;
  opacity: 0.2;
  border: 0.952857px solid #ffffff;
}
.logoFooter {
  position: absolute;
  width: 130px;
  height: 110px;
  left: 655px;
  top: 458px;
}
.rep1 {
  position: absolute;
  width: 1070px;
  height: 234px;
  left: 183px;
  top: 3120px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  display: flex;
  align-items: center;
  color: #000000;
}
.rep2 {
  position: absolute;
  width: 1074px;
  height: 342px;
  left: 183px;
  top: 3372px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  display: flex;
  align-items: center;
  color: #000000;
}
.rep3 {
  position: absolute;
  width: 1070px;
  height: 216px;
  left: 183px;
  top: 4428px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  display: flex;
  align-items: center;
  color: #000000;
}
.rep01 {
  position: absolute;
  width: 1074px;
  height: 322px;
  left: 183px;
  top: 2093px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  display: flex;
  align-items: center;
  color: #000000;
}
.rep0 {
  position: absolute;
  width: 1070px;
  height: 130px;
  left: 183px;
  top: 1938px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  display: flex;
  align-items: center;
  color: #000000;
}
.rep4 {
  position: absolute;
  width: 1070px;
  height: 224px;
  left: 183px;
  top: 4672px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  display: flex;
  align-items: center;
  color: #000000;
}
.rep5 {
  position: absolute;
  width: 1070px;
  height: 219px;
  left: 183px;
  top: 4924px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  display: flex;
  align-items: center;
  color: #000000;
}
.face {
  position: absolute;
  width: 901px;
  height: 462.01px;
  left: 269px;
  top: 3910px;
}
.cookie-message {
  z-index: 9999;
}
a {
  text-decoration: none; 
}

a:hover {
  color: red; 
}

a:active {
  background-color: yellow; 
}
.cookie-message {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.accept-cookie {
  background-color: #ff4500;
  color: #fff;
  border: none;
  padding: 5px 15px;
  cursor: pointer;
}